.swiper-button-prev,
.swiper-button-next {
    color: #FF8203 !important;
    background-color: #F2F2F2;
    opacity: 0.55 !important;
}

/* .swiper-button-prev {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    height: 70px;
    width: 30px;
} */

/* .swiper-button-next {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    height: 70px;
    width: 30px;
} */

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
    right: auto;

}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
    left: auto;

}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 12px !important;
}

